REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtpeWt4aW15eWRoaHducmpxYW1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ2MTgwNjUsImV4cCI6MjA3MDE5NDA2NX0.CIX4kKQ71vG5QUdNIw3fG7fMNb4sKGBKGeiVkPVTOuo
